OTP_HOST=127.0.0.1
OTP_PORT=5055
OTP_DB_PATH=./otp_service.db
OTP_SMTP_HOST=smtp.gmail.com
OTP_SMTP_PORT=587
OTP_SMTP_TLS=1
OTP_SMTP_SSL=0
OTP_SMTP_USER=alvin69david@gmail.com
OTP_SMTP_PASS=rphq aedh kfqn zzlp
OTP_MAIL_FROM=alvin69david@gmail.com
OTP_LOCAL_FALLBACK=0
OTP_DEV_CONSOLE=0
